*{
	border: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: arial, helvetica;
	font-size: 14px;
}

body
{
	padding-top: 85px;
}

html, body{ height: 100%; }

header{
	width: 100%;
	height: 85px;
	position: fixed;
	top: 0; left: 0; right: 0;
	z-index: 100;
	background-color: #fff;
	text-align: center;
	opacity: 1;
}

header ul{
	display: inline-block;
	margin: 20px 0;
}

header ul li{
	float: left;
	display: inline-block;
}

header ul li a{
	padding: 0 10px;
	text-transform: uppercase;
	text-decoration: none;
}

header ul li a:hover,
header ul li.active a{
	color: red;
	border-bottom: 2px solid red;
	margin-right: 10px;
}

section{
	width: 100%;
	height: calc(100vh - 85px);
	text-align: center;
	position: relative;
}

section.auto{
	height: auto;
	color: white;
}

header a
{
	color: black;
}

a
{
	color: white;
}

section hr{
	width: 100%;
	height: 2px;
	background: #fff;
	position: absolute;
	top: 50%; left: 0;
	margin-top: -1px;
}

div#real-section-01,
section h2{
	padding: 100px 0;
}

div#real-section-01{
	width: 100%;
	height: calc(100vh - 85px);
	text-align: center;
	position: fixed;

	background-color: purple;
	color: white;
}

section.section-01{
	background-color: #32292F;
	color: white;
}

section.section-02{
	background-color: #575366;
}

section.section-03{
	height: auto;
	background-color: #000000;
	position: relative;
	overflow: hidden;
}

section.section-03 .col{
	width: 50%;
	padding-bottom: 70px;
	float: left;
	display: block;
	position: relative;
	font-size: 0;
}

section.section-03 h3{
	width: 350px;
	margin: 0 auto;
	font-size: 12px;
	color: #fff;
	line-height: 18px;
	text-align: center;
}

section.section-03 h3,
section.section-03 img{
	position: relative;
}

section.section-03 .rodelinha-azul{
	width: 80px;
	height: 80px;
	background-color: blue;
	border-radius : 50%;
	position: absolute;
	top: 0%; left: 50%;
	margin-top: -40px;
	margin-left: -40px;
	z-index: 10;
}

section.section-03 .rodelinha-azul-1{
	width: 80px;
	height: 160px;
	background-color: transparent;
	position: absolute;
	top: 0%; left: 0%;
	margin-top: -80px;
	margin-left: 230px;
	z-index: 10;	
}

section.section-03 .col.col-3-1{
	width: 100%;
	text-align: center;
}

section.section-03 h3,
section.section-03 img{
	display: inline-block;
}

.floating-element{
	transition-duration: 0.6s;
	transition-timing-function: ease-out;
}

.enter-alpha{
	opacity: 0;
}

.enter-alpha-active{
	opacity: 1;
	transition-duration: 0.6s;
	transition-timing-function: ease-out;	
}

section.section-04{
	background-color: navy;
}

section.section-05{
	background-color: #D1E3DD;
	color: gray;
}

section.section-06{
	background-color: #CAD178;
}

footer{
	width: 100%;
	height: 100px;
	background-color: #e4e4e4;
}