html {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-family: "Open Sans", arial, verdana, tahoma, sans-serif;
	font-size: 100%
}
body {
	background-color: rgb(228, 228, 228);
	padding: 0px;
	margin: 0px;
}
.modal-1-ums-modal {
	box-sizing: border-box;
	transition-duration: 0.5s;
}
.modal-1-ums-modal {
	background: #fff;
	border: 1px solid black;
}
.modal-1-ums-modal.lt400 {
	background-color: #FF0;
	width: 100%;
	height: 100%;
	margin-top: 0px;
	border: none;
	margin-left: 0;
	left: 0;
	top: 0;
}
.modal-1-ums-modal.b400a600 {
	position: absolute;
	background-color: green;
	width: 340px !important;
	margin-left: -170px !important;
	height: 530px;
	left: 50%;
	z-index: 900;
	top: 50%;
	margin-top: -265px;
	opacity: 1;
}
.modal-1-ums-modal.b600a800 {
	background-color: navy;
	color: white;
	width: 520px !important;
	margin-left: -260px !important;
	position: absolute;
	height: 530px;
	left: 50%;
	z-index: 900;
	top: 50%;
	margin-top: -265px;
}
.modal-1-ums-modal.gt800 {
	background-color: gray;
	width: 720px;
	margin-left: -360px;
	position: absolute;
	height: 530px;
	left: 50%;
	z-index: 900;
	top: 50%;
	margin-top: -265px;
}