html
{
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-family: "Open Sans",arial,verdana,tahoma,sans-serif;
	font-size: 100%
}

body
{
	background-color: rgb(228, 228, 228);
	padding: 0px;
	margin: 0px;
}