html
{
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-family: "Open Sans", arial, verdana, tahoma, sans-serif;
	font-size: 100%
}

body
{
	background-color: rgb(228, 228, 228);
	padding: 0px;
	margin: 0px;
}

#example
{
	border: 1px solid black;
	margin: 10%;
	margin-top: 30px;
	padding: 10px;
	background-color: white;
	font-size: 18px;
	font-family: 'Lobster', cursive;
}

#another
{
	border: 1px solid black;
	margin: 10%;
	margin-top: 100px;
	padding: 10px;
	background-color: white;
	font-size: 18px;
	font-family: 'Dancing Script', cursive;
}

#label-example
{
	position: relative;
	font-size: 18px;
	margin-left: 10%;
	top: 29px;
}

#label-another
{
	position: relative;
	font-size: 18px;
	margin-left: 10%;
	top: 99px;
}