html
{
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-family: "Open Sans",arial,verdana,tahoma,sans-serif;
	font-size: 100%
}

body
{
	background-color: rgb(228, 228, 228);
	padding: 20px;
	margin: 0px;
}

section
{
	border: 1px solid gray;
	background-color: white;
	padding: 10px;
	max-width: 640px;
	margin: 0 auto;
	margin-bottom: 10px;
	width: 80%;
}

#section-8,
#section-14
{
	background-color: rgba(84, 84, 152, 0.8);
	color: #fff;
}

#section-21
{
	background-color: rgba(148, 101, 63, 0.8);
	color: #fff;
}