*{
	border: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: arial,helvetica;
	font-size: 11pt;
}

body
{
	padding-top: 85px;
}

html, body{ height: 100%; }

header{
	width: 100%;
	height: 85px;
	position: fixed;
	top: 0; left: 0; right: 0;
	z-index: 100;
	background-color: #fff;
	text-align: center;
	opacity: 1;
}

header ul{
	display: inline-block;
	margin: 20px 0;
}

header ul li{
	float: left;
	display: inline-block;
}

header ul li a{
	padding: 0 10px;
	text-transform: uppercase;
	text-decoration: none;
}

header ul li a:hover,
header ul li.active a{
	color: red;
	border-bottom: 2px solid red;
	margin-right: 10px;
}

section{
	width: 100%;
	height: calc(100vh - 85px);
	text-align: center;
	color: white;
	position: relative;
}

section.auto{
	height: auto;
}

section hr{
	width: 100%;
	height: 2px;
	background: #fff;
	position: absolute;
	top: 50%; left: 0;
	margin-top: -1px;
}

section h2{
	padding: 100px 0;
}

section.section-01{
	background-color: #32292F;
}

section.section-02{
	background-color: #575366;
}

section.section-03{
	height: auto;
	background-color: #6E7DAB;
}

section.section-04{
	background-color: #5762D5;
}

section.section-05{
	background-color: #D1E3DD;
}

section.section-06{
	background-color: #CAD178;
}

footer{
	width: 100%;
	height: 100px;
	background-color: #e4e4e4;
}